<h1>Rock Paper Scissors</h1>
<form action="/results">
  <div class="form-group">
    <label for="player_one">Player 1 Make Your Selection:</label>
    <select class="form-control" name="player_one" id="player_one">
      <option>Rock</option>
      <option>Paper</option>
      <option>Scissors</option>
    </select>
  </div>
  <h5>The Computer will make its selection after you click the button</h5>
  <button type="submit" class="btn btn-danger">See the Winner!</button>
</form>
