<h3>Player Two</h3>
<form action="/results">
  <div class="form-group">
    <label for="player_two">Make Your Selection:</label>
    <select class="form-control" name="player_two">
      <option value="Rock">Rock</option>
      <option value="Paper">Paper</option>
      <option value="Scissors">Scissors</option>
    </select>
  </div>
  <button type="submit" class="btn btn-danger">See the Winner!</button>
</form>
